h1 {
  text-align: center;
}

.aboutme img {
  height: 100px;
  float: right;
}

.pagetop {
  margin-bottom: 10px;
}

.pagetop img{
  width: 20%;
  display: block;
  margin: auto;
}

.replink {
  font-size: 70%;
}

.col-md-4 li {
  height: 30px;
}
.col-md-4 p {
  height: 20px;
}

.projectlist {
  width: 90%;
  border: 2px solid black;
  padding: 4px;
  margin: auto;
  background-color: #dddddd;
}
