
.col-md-2 {
  margin-top: 30px;
}
.col-sm-1 {
  background-color: #eeeeee;
}

.col-md-11 {
  background-color: #eeeeee;
}
.container {
  margin-left: 2px;
}
img.TFP {
  width: 50%;
  float:left;
}

.bluecolumn {
  background-color: #ccffff;
}
.dbluecolumn {
  background-color: #99ffff;
}
.dgreencolumn {
  background-color: #99ff99;
}
.greencolumn {
  background-color: #ccffcc;
}
